secret
nvim/.netrwhist
nvim/backup
nvim/backups
nvim/undo
nvim/tmp
nvim/undo
nvim/plugged
vim/
config/keybase
config/hub
.emacs~
.emacs.d/elpa/**
.emacs.d/backups-files
.emacs.d/themes
.emacs.d/*~
colors
.emacs.d/auto-save-list/
.emacs.d/projectile.cache
.emacs.d/eshell
.emacs.d/helm-adaptive-history
.emacs.d/#*
.emacs.d/.#*
/.emacs.d/autosaves/
/config/configstore/
/.emacs.d/emojis/
/.emacs.d/places
/.emacs.d/autosaves/
/.emacs.d/rake.cache
/.emacs.d/diary
/.emacs.d/bookmarks
/.emacs.d/projectile-bookmarks.eld
