secret
nvim/.netrwhist
nvim/backup
nvim/backups
nvim/undo
nvim/tmp
nvim/undo
nvim/plugged
config/keybase
config/hub
.emacs~
.emacs.d/elpa
.emacs.d/backups-files
.emacs.d/themes
.emacs.d/*~
colors
.emacs.d/auto-save-list/
.emacs.d/projectile.cache
.emacs.d/eshell
.emacs.d/helm-adaptive-history
.emacs.d/#*
.emacs.d/.#*
